.each-suggestion {
  display: flex;
  justify-content: space-between;
  padding-right: 7px;
}

.suggestion-para {
  color: #475569;
  font-family: 'Roboto';
  font-size: 15px;
  margin-bottom: 5px;
}

.arrow-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.arrow-styles {
  height: 20px;
  width: 24px;
}
